.genres {
  width: 100vw;
  padding: 10px 20px;
  background-color: rgb(3, 3, 3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.genres-item {
  border: rgb(138, 134, 130) 2px solid;
  color: rgb(145, 141, 137);
  font-weight: 500;
  padding: 7px;
  border-radius: 3px;
}
.genres-item:hover {
  border: rgb(235, 215, 196) 2px solid;
  color: rgb(235, 215, 196);
  cursor: pointer;
}
