.header {
  height: 80px;
  width: 100vw;
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(65, 63, 63);
}
.logo {
  font-size: 30px;
  color: rgb(247, 245, 242);
  cursor: pointer;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(175, 18, 18),
    1px 0 rgb(192, 204, 21), 0 -1px rgb(160, 190, 23);
}
.logo > span {
  color: #e90253;
  font-weight: 800;
}
.navigation a {
  text-decoration: none;
  color: rgb(102, 219, 219);
  font-size: 25px;
  font-weight: bold;
}
.navigation a:nth-child(1) {
  margin-right: 45px;
}
.navigation a:hover {
  color: rgb(171, 46, 209);
}
.selected {
  border-top: 3px solid rgb(240, 236, 22);
  transition: border-top 0.5s ease-in-out;
}
