.home {
  display: flex;
  flex-direction: column;
  /* background-color: #000; */
}
.films {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
  border-bottom: blanchedalmond 2px solid;
  margin-bottom: 15px;
}
.container-movies {
  max-width: 90vw;
  margin: 40px auto;
  background-color: rgb(3, 3, 3);
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.banner {
  position: relative;
  width: 100vw;
  height: 100vh;

  filter: blur(8px);
  -webkit-filter: blur(8px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 22px;
}
.banner__text > h1 {
  font-size: 30px;
  font-weight: 700;
  color: #e90253;
  margin: 20px;
}
.banner__text > p {
  font-size: 18px;
}
.banner__text > .MuiSvgIcon-root {
  font-size: 60px;
  margin-top: 10px;
  transition: transform 0.7s;
}
.banner__text > .MuiSvgIcon-root:hover {
  transform: scale(1.2);
}

/* --------------pagination------------ */
.pagination {
  margin: 25px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #f5f50a;
  border-color: #e90253;
  color: #fff;
  opacity: 1;
}
.pagination > li > a {
  border: 3px solid #e90253;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 50%;
  transition: 0.6s ease-in-out;
  opacity: 0.7;
}
.pagination > li > a:hover {
  background-color: rgb(235, 8, 8);
  opacity: 1;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #e90253;
  border-color: #e90253;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #fcfdfd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
.search {
  color: #f1f1f1;
}
