.container-movies {
  max-width: 80%;
  margin: 40px auto;
  background-color: rgb(3, 3, 3);
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#ReactBackgroundSlider {
  height: 100% !important;
  width: 100vw;
}
.banner {
  height: 100%;
  width: 100vw;
}
.banner img {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  opacity: 0.6;
}
