.movie-container {
  height: 100%;
  width: 100vw;
  background-color: rgb(7, 7, 7);
  color: rgb(170, 166, 166);
  padding: 60px;
}
.movie-container span {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.movie-body {
  display: flex;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(65, 63, 63);
  padding: 20px;
}
.movie-body img {
  width: 300px;
  height: 400px;
  margin-right: 20px;
  border-radius: 8px;
}
.movie-infos {
  padding: 15px;
}
.movie-title {
  font-size: 20px;
  font-weight: 600;
  color: antiquewhite;
}
.movie-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(65, 63, 63);
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.stars {
  margin-left: 10px;
  outline-style: none;
}
.categories {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.categorie-list {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.categorie-list li {
  margin-right: 10px;
}
.movie-description,
.movie-country,
.movie-date,
.movie-languages,
.movie-time,
.movie-vote {
  margin-bottom: 10px;
  line-height: 20px;
}
.movie-description span  ,
.movie-country span ,
.movie-date span,
.movie-languages span,
.movie-time span,
.movie-vote span,
.movie-homepage span {
  margin-right: 5px;
}
.movie-vote {
  display: flex;
}

.movie-description span {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.movie-homepage a {
  color: bisque;
}
.acteurs {
  color: #e90253;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}
/* ---------------video--------------- */
.video {
  margin: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.video__infos {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.video__title {
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  margin-right: 10px;
}
.player {
  box-shadow: 0px 0px 15px 5px #4d4c4c;
  border-radius: 5px;
}
